.light{
  --theme-page-background:#FFF;
  --theme-page-text:#111;
}
.dark{
    --theme-page-background: #111;
    --theme-page-text: #FFF;
  tbody{
    color:white;
    //pointer-events: none;
   tr:nth-of-type(odd) > * {
      color: white;
    }
  }
}
.darkTd{
  color: white;
}
.themeModal{
  background:#000000c7;
  color:white;
  border: 1px solid rgba(255,255,255,0.2);
}
